option_settings:
  - option_name: JAVA_OPTIONS
    value: -Ddatasource.dialect=PGSQL -Ddatasource.url=jdbc:postgresql://psql:5432/lavagna -Ddatasource.username=lavagner -Ddatasource.password=lava -Dspring.profiles.active=prod
  - option_name: POSTGRES_DB
    value: lavagna
  - option_name: POSTGRES_USER
    value: lavagner
  - option_name: POSTGRES_PASSWORD
    value: lava
